<div class="main">
    <h2>Manage Types</h2>
    <div *ngIf="userData.typeList | async as types; else noTypes">
        <div *ngFor="let keyValue of types">
            <h3>
                {{keyValue.value.name}}
                <div class="icon-circle">
                    <img (click)="deleteType(keyValue.key)" src="/assets/images/baseline-delete_forever-24px.svg" />
                </div>
            </h3>
            <div style="padding-left: 32px;">
                <div *ngFor="let detail of keyValue.value.details">
                    {{detail}}
                    <div class="icon-circle">
                        <img (click)="deleteDetail(keyValue.key, keyValue.value.details,detail)" src="/assets/images/baseline-delete_forever-24px.svg" />
                    </div>
                </div>
                <div>
                    New activity detail:
                    <input #newDetail type="text" />
                    <button (click)="updateDetails(keyValue.key,keyValue.value.details,newDetail)">Add</button>
                </div>
            </div>
        </div>
        <h3>New Type</h3>
        <div>
            Add an activity type:
            <input #newType type="text" />
            <button (click)="addType(newType)">Add</button>
        </div>
    </div>

    <ng-template #noTypes>
        We couldn't load the type list.
    </ng-template>
</div>
