<ng-container *ngIf="(auth.state | async) as state; else: login">
    <h1>Welcome {{state.displayName}} <img style="height:16px;width:16px;" [src]="state.photoURL"></h1>
    <div *ngIf="userData.data as data">
        <button (click)="userData.createDay()">Create New Day</button>
        <div *ngFor="let day of data.events; index as i">
            <h2>{{ day.date }} (<span (click)="userData.deleteDay(i)">x</span>)</h2>
            <button *ngFor="let aType of activityTypes | keyvalue" (click)="userData.addActivity(i, aType.key ,'')">{{aType.key}}</button>
            <table>
                <tr *ngFor="let activity of day.activities; index as activityIndex">
                    <td>
                        <span
                            contenteditable="true"
                            (input)="
                                userData.updateTime(
                                    i,
                                    activityIndex,
                                    activity.time.substring(0, 11) + $event.target.innerText
                                )
                            "
                        >
                            {{ activity.time.substring(11) }}
                        </span>
                    </td>
                    <td>{{ activity.activity }}</td>
                    <td><select *ngIf="activityTypes[activity.activity] && activityTypes[activity.activity].length > 0; else raw" (input)="activity.activityDetails = $event.target.value;userData.save();">
                        <option *ngFor="let option of activityTypes[activity.activity]" [selected]="option === activity.activityDetails">
                            {{option}}
                        </option>
                        <option *ngIf="activityTypes[activity.activity] && activityTypes[activity.activity].indexOf(activity.activityDetails) === -1 && activity.activityDetails">{{activity.activityDetails}}</option>
                    </select>
                    <ng-template #raw>{{activity.activityDetails}}</ng-template>
                </td>
                    <td>(<span (click)="userData.deleteActivity(i, activityIndex)">x</span>)</td>
                </tr>
            </table>
        </div>

    </div>
    <div style="margin-top:250px;">User {{state.uid}}</div>
    <h3>Join Family:</h3>
    <input #familyId type="text"><button (click)="userData.join(state.uid, familyId.value)">Join</button>
    <div><button (click)="auth.logout()">Logout</button></div>
</ng-container>
<ng-template #login>
    <h1>Login to use the baby log</h1>
    <button (click)="auth.login()">Login</button>
</ng-template>
