<ng-container *ngIf="auth.state | async as state">
    <div *ngIf="userData.eventHistory | async as events" class="main">
        <h1 *ngIf="userData.child">{{userData.child}} History</h1>

        <div *ngFor="let day of events; index as i" class="day-container">
            <h2>
                {{ day.date }}
            </h2>

            <!-- <div class="highlight-box">
                <p>
                    <span i18n>Slept {{(day | summarizeEvent)['totalPretty']['asleep']}}</span
                    >
                </p>
            </div> -->

            <table style="max-width: 500px">
                <ng-container *ngFor="let activity of day.activities; index as activityIndex">
                    <tr>
                        <td>
                            {{activity.time.substring(11)}}
                        </td>
                        <td>{{ activity.activity }}</td>
                        <td style="width: 100%">
                                {{activity.activityDetails}}
                        </td>
                    </tr>
                    <tr *ngIf="activity.notes">
                        <td colspan="5" style="padding-left:32px;">{{activity.notes}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>

    <div class="main">
        <div style="margin-top: 250px">User {{state.uid}}</div>
        <div>Family {{userData.familyId}}</div>
        <div>
            Share Child
            <a
                target="_blank"
                [href]="'mailto:?subject=Baby%20Log%3A%20Add%20' + userData.child + '%20to%20your%20account&body=Here is%20the%20link%20to%20add%20' + userData.child + '%20to%20your%20Baby%20Log%20account%3A%0D%0A%0D%0Ahttps://baby.fluin.io/attach/' + userData.familyId + '/' + userData.child"
            >
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                    <path
                        fill="currentColor"
                        d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z"
                    />
                </svg>
            </a>
        </div>
        <!-- <h3 i18n>Settings</h3> -->
    </div>
</ng-container>
